<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Nos conte qual a sua sugestão de lanche!</p>
    <form action="/sugestao" method="get">
        <label for="nome">Nome do lanche:</label>
        <input type="text" name="nome">
        <label for="ingredientes">Ingredientes:</label>
        <textarea name="ingredientes"></textarea>
        <button type="submit">Enviar</button>
    </form>
    <br>
    <a href="/contato">Nos envie uma mensagem!</a><br>
    <a href="/api/lanches">Veja nossos lanches.</a>

</body>
</html>